:root {
  --main-color: #646464;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
textarea,
button {
  font-family: 微軟正黑體, sans-serif;
  color: #5c5c5c;
  word-break: break-all;
}

textarea {
  resize: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

b {
  font-weight: bold;
}

/* 移除各瀏覽器的內建樣式 */
input[type="text"] {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none;
}

select,
input {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}

select {
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: url("../images/select-form-arrow.svg") no-repeat;
  background-position: right center;
}

button {
  cursor: pointer;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-28 {
  font-size: 28px;
}

.fs-16 {
  font-size: 16px;
}

/* footer置底 */
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex; /*使物件依序排列*/
  flex-direction: column; /*使物件垂直排列*/
}
.wrapper {
  flex-grow: 1; /*2️⃣wrapper拿走剩餘的垂直空間*/
}
.footer {
  background-color: gray; /*1️⃣footer拿走footer的空間*/
}

body,
p {
  line-height: 1.6 !important; /* 調整行高的數值，根據需要調整 */
}

.ab-mt-negative-2 {
  margin-top: -0.5rem;
}
.ab-mt-negative-3 {
  margin-top: -1rem;
}

.ab-mt-negative-4 {
  margin-top: -1.5rem;
}



.dataTables_length,div.dataTables_filter {
  display: none;}